@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;700&family=Noto+Sans+JP:wght@400;700&family=Noto+Sans:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html,
    body {
        font-family: Figtree, 'Noto Sans JP', 'Noto Sans', sans-serif;
    }

    h1 {
        @apply text-6xl;
    }

    h2 {
        @apply text-5xl;
    }

    h3 {
        @apply text-4xl;
    }

    p {
        @apply text-base text-justify;
    }
}

.title h2 {
    @apply py-6;
}

.typing {
    max-width: 20rem;
    margin: 0 auto;
    width: 100%;
    animation: typing 4s steps(50), blink 0.5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

#sanityTextContainer p {
    @apply my-4 text-lg;
}
